/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #236174;
}
#div{
  display: flex;
  width: 900px;
  height: 470px;
  margin: 0 auto;
  margin-top: 135px;
}
#list {
  display: flex;
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;
}
#imgs {
  width: 900px;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
} */

/* #list:hover .picturs{
  transform: translate(-100%);
} */





body {
  background-color: #0e2547;
  background-image: url("https://i.pinimg.com/originals/3b/95/82/3b9582278ced9b2adea2e5ebe9fb17c8.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  border:2px solid #0e81c4;
  display: block;
  width: 800px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease-in-out;
}

.slide:nth-child(1) {
  background-color: #101638;
  object-fit: cover;
  background-image: url("https://images.unsplash.com/photo-1509773896068-7fd415d91e2e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bmlnaHQlMjB0aW1lfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
}
.slide:nth-child(2) {
  background-color: #101638;
  background-image: url("https://earthsky.org/upl/2021/06/noctilucent-clouds-jun24-2021-Marek-Nikodem-near-Szubin-Poland-e1624615188600.jpg");
  background-repeat: no-repeat;
}
.slide:nth-child(3) {
  background-color: #101638;
  background-image: url("http://cdn.iz.ru/sites/default/files/styles/900x506/public/news-2019-08/20160720_gaf_rk39_189.jpg?itok=NZkJ2vBm");
}

.prev,
.next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 25px;
  border-radius: 36px;
  background-color: white;
  z-index: 100;
  top: 50%;
  transform: translatey(-50%);
  transition: all 0.4s ease;
}
.prev:hover {
  background-color: #868daf;
  color: #fff;
}
.next:hover {
  background-color: #868daf;
  color: #fff;
}
.prev {
  left: 2%;
}
.next {
  right: 2%;
}













